<div class="app-footer">
    <div class="p-2 text-xs">
        <div class="pull-right text-muted py-1">
            &copy; Copyright <strong>TitanLocks LLC.</strong>
            <a ui-scroll-to="content"><i class="fa fa-long-arrow-up p-x-sm"></i></a>
        </div>
        <div class="nav">
            <a class="nav-link" href="https://titanlocks.co/">Homepage</a>
            <a class="nav-link" href="https://titanlocks.co/collections">Purchase Locks</a>
        </div>
    </div>
</div>